.main
  .main__header
    .main__header--left
      .main__header--left--groupname
        猫について語る会
      .main__header--left--member
        Member: 太郎
    .main__header--ligft
      .main__header--ligft--edit
        = link_to "Edit", "#"
  .main__body
    .main__body--text
      .main__body--text--mamber
        太郎
      .main__body--text--date
        2019/11/29:11:20
    .main__body--text--massage
      猫カフェじゃ物足りない
  .main__form
    .main__form--mask
      %form{:action => "#", :method => "post"}
      %input.text_area{:type => "text", :placeholder => "massage"}
      %label{class: "form__image"}
        = icon('fas', 'image')
        %input{class: "form__file",type: "file"}
    %input.btn{:type => "submit", :value => "Send"}