        すごく可愛い
.main
  .main__header
    .main__header--left
      .main__header--left--groupname
        group name
      .main__header--left--member
        Member:
    .main__header--ligft
      .main__header--ligft--edit
        Edit
  .main__body
  .main__botom
    .main__botom--form
      .main__botom--form--textbox
        .main__botom--form--textbox--text
        .main__botom--form--textbox--icon
      .main__botom--form--btn
