.sidebar
  .sidebar__header
    .sidebar__header--block
      .sidebar__header--block--p
        太郎
      .sidebar__header--block--icon
        = link_to '#' do
          %i.fas.fa-edit

        = link_to '#' do
          %i.fas.fa-cog

  .sidebar__body
    .sidebar__body--block
      .sidebar__body--block--title
        猫について語る会
      .sidebar__body--block--p
        すごく可愛い
