.sidebar
  .sidebar__header
    .sidebar__header--block
      .sidebar__header--block--p
        太郎
      .sidebar__header--block--icon
        = link_to '#' do
          %i.fas.fa-edit

        = link_to '#' do
          %i.fas.fa-cog

  .sidebar__body
    .sidebar__body--block
      .sidebar__body--block--title
        猫について語る会
      .sidebar__body--block--p
        すごく可愛い
.main
  .main__header
    .main__header--left
      .main__header--left--groupname
        group name
      .main__header--left--member
        Member:
    .main__header--ligft
      .main__header--ligft--edit
        Edit
  .main__body
  .main__botom
    .main__botom--form
      .main__botom--form--textbox
        .main__botom--form--textbox--text
        .main__botom--form--textbox--icon
      .main__botom--form--btn
